<div class="container-fluid mt-4" >
    <div class="row mt-2 mb-2">
        <div class="col-6 border border-secondary ">
            <div class="row">
                <p class="h2"><strong>Seleccione Fecha</strong></p>
            </div>
            <div class="row justify-content-center">
                <div class="col-3">
                    <p class="text-end align-bottom mb-0 ">Ingrese Nro Boleta</p>
                </div>
                <div class="col-3 ">
                    <input type="text" class="form-control" placeholder="002341" aria-label="nroboleta" aria-describedby="basic-addon1" />
                </div>
                <div class="col-1">
                    <i class="fas fa-search "></i>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                    <section class="example-section">
                        <mat-checkbox  class="example-margin">Se encontró la boleta ingresada</mat-checkbox>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p class="text-end">Nombre Completo</p>
                </div>
                <div class="col-9">
                    <p class="border border-secondary text-center">Gracia Miranda Elena</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p class="text-end">Nro Boleta</p>
                </div>
                <div class="col-4">
                    <p class="border border-secondary text-center">0001231</p>
                </div>
                <div class="col-2">
                    <p class="text-end">Nro Doc</p>
                </div>
                <div class="col-3">
                    <p class="border border-secondary text-center">43814630</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p class="text-end">Fecha</p>
                </div>
                <div class="col-3">
                    <p class="border border-secondary text-center">13/14/2021</p>
                </div>
                <div class="col-3">
                    <p class="text-end">Hora</p>
                </div>
                <div class="col-3">
                    <p class="border border-secondary text-center">09:15</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p class="text-end">Dirección</p>
                </div>
                <div class="col-9">
                    <p class="border border-secondary text-center">Av. Los Girasoles 599 San Juan de Lurigancho</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p class="text-end">Usuario</p>
                </div>
                <div class="col-9">
                    <p class="border border-secondary text-center">Manuel Jesús</p>
                </div>
            </div>
            <div class="row">
                <table mat-table class="table table-striped mt-4">
                    <thead>
                        <th scope="col">Concepto</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio unit</th>
                        <th scope="col">Importe</th>
                    </thead>
                    <tbody>
                        <tr >
                            <td>Ex. completo orina</td>
                            <td>1</td>
                            <td>15.00</td>
                            <td>15.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-6">
            <div class="row justify-content-center  border border-secondary" >
                    <p class="h2"><strong>Elegir fecha de Validación</strong></p>
                    <div class="col-4">
                        <div class="row">
                            <p>Seleccione nueva fecha</p>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>Nueva fecha</p>
                            </div>
                            <div class="col-6">
                                <p class="border border-secondary p-1">{{selected}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <button>Generar nueva boleta</button>
                        </div>
                    </div>
                    <div class="col-4">    
                        <div class="row p-4">
                            <mat-card class="demo-inline-calendar-card">
                                <mat-calendar (selectedChange)="selected = $event"></mat-calendar>
                              </mat-card>
                        </div>
                    </div>   
            </div>
            <div class="row  border border-secondary">
                <div class="row">
                    <p class="h2">Nueva Venta</p>
                </div>
                <div class="row">
                    <div class="col-2">
                        <p class="text-end">Nro Boleta</p>
                    </div>
                    <div class="col-4">
                        <p class="border border-secondary text-center">099958</p>
                    </div>
                    <div class="col-2">
                        <p class="text-end">Nro Doc.</p>
                    </div>
                    <div class="col-4">
                        <p class="border border-secondary text-center">43814630</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <p class="text-end">Fecha</p>
                    </div>
                    <div class="col-2">
                        <p class="border border-secondary text-center">14/11/2021</p>

                    </div>
                    <div class="col-1">
                        <p class="text-end">Hora</p>
                    </div>
                    <div class="col-1">
                        <p class="border border-secondary text-center">13:15</p>
                    </div>
                    <div class="col-2">
                        <p class="text-end">Usuario</p>
                    </div>
                    <div class="col-4">
                        <p class="border border-secondary text-center">Victor Martínez</p>

                    </div>
                </div>
                <div class="row p-4">
                    <table mat-table class="table table-striped ">
                        <thead>
                            <th scope="col">Concepto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio unit</th>
                            <th scope="col">Importe</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Consult ext. Ginecología</td>
                                <td>1</td>
                                <td>15.00</td>
                                <td>15.00</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="row justify-content-between mb-2">
                    <div class="col-6">
                        <button>Registrar y anular anterior</button>
                    </div>
                    <div class="col-1">
                        <mat-icon>print</mat-icon>
                    </div>
                </div>
                <div class="row justify-content-between mb-3">
                    <div class="col-6">
                        <button> Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
