<div class="container mat-elevation-z4 mt-4">
    <div class="row">
        <div class="col-4">
            <div class="row">
                <button  mat-button >
                    <mat-icon>add</mat-icon>
                    <span>Agregar</span>
                </button>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <button mat-button >
                    <mat-icon>build</mat-icon>
                    <span>Modificar</span>
                </button>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <button mat-button >
                    <mat-icon>clear</mat-icon>
                    <span>Eliminar</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Precios de Consulta Externa según especialidad:</p>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table mat-table class="table table-striped mt-4">
                <thead>
                    <th scope="col">Consultorio</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Moneda</th>
                    <th scope="col">Medio pago</th>
                    <th scope="col">Seleccionar</th>
                    <th scope="col"></th>
                </thead>
                <tbody>
                    <tr >
                        <td>Medicina General</td>
                        <td>10.00</td>
                        <td>Soles</td>
                        <td>Efectivo</td>
                        <td><mat-icon>add_box</mat-icon></td>
                    </tr>
                    <tr >
                        <td>Ginecología</td>
                        <td>15.00</td>
                        <td>Soles</td>
                        <td>Efectivo</td>
                        <td><mat-icon>add_box</mat-icon></td>
                    </tr>
                    <tr >
                        <td>Dental</td>
                        <td>12.00</td>
                        <td>Soles</td>
                        <td>Efectivo</td>
                        <td><mat-icon>add_box</mat-icon></td>
                    </tr>
                    <tr >
                        <td>Obstetricia</td>
                        <td>8.00</td>
                        <td>Soles</td>
                        <td>Efectivo</td>
                        <td><mat-icon>add_box</mat-icon></td>
                    </tr>
                    <tr >
                        <td>Psicología</td>
                        <td>14.00</td>
                        <td>Soles</td>
                        <td>Efectivo</td>
                        <td><mat-icon>add_box</mat-icon></td>
                    </tr>
                    <tr >
                        <td>Programa TBC</td>
                        <td>5.00</td>
                        <td>Soles</td>
                        <td>Efectivo</td>
                        <td><mat-icon>add_box</mat-icon></td>
                    </tr>
                    <tr >
                        <td>Programa VIH</td>
                        <td>5.00</td>
                        <td>Soles</td>
                        <td>Efectivo</td>
                        <td><mat-icon>add_box</mat-icon></td>
                    </tr>
                    <tr >
                        <td>Planificación Familiar</td>
                        <td>8.00</td>
                        <td>Soles</td>
                        <td>Efectivo</td>
                        <td><mat-icon>add_box</mat-icon></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        
    </div>
</div>